.toolbar
  a#button1.tool-button(href="http://student-googleapps.education.nsw.gov.au" title="Access Google Classroom, Docs, Slides, Sheets and more.")
    .small-box
      img.img-responsive-small(src="/img/gafe.png")
  a#button2.tool-button(href="https://student.det.nsw.edu.au" title="Access your Student Portal and Emails.")
    .small-box
      img.img-responsive-small(src="/img/dec.png")
  a#button3.tool-button(href="https://kahoot.it/" title="TAS, ICT, IST and SDD Lessons and Resources.")
    .small-box
      img.img-responsive-small(src="/img/kahoot.png")
  a#button4.tool-button(href="https://web2.mullumbimb-h.schools.nsw.edu.au/portal/login" title="Access your Timetable, view messages from your Teacher.")
    .small-box
      img.img-responsive-small(src="/img/sentral.png")
  a#button5.tool-button(href="http://mhsrap.com" title="RAP Scores")
    .small-box
      img.img-responsive-small(src="/img/rap.png")  
  a#button6.tool-button(href="http://www.mullumbimb-h.schools.nsw.edu.au" title="School information, Calendar and Newsletters.")
    .small-box
      img.img-responsive-small(src="/img/website.png")
  a#button7.tool-button(href="http://educationstandards.nsw.edu.au" title="NSW Education Standards Authority - Past HSC Papers, Syllabus Documents etc")
    .small-box
      img.img-responsive-small(src="/img/nesa-logo.png")
  a#button8.tool-button(href="http://10.181.129.122/media/" title="Educational videos.")
    .small-box
      img.img-responsive-small(src="/img/media-server.png")
  
