extends partials/template.pug
block content
  h1 Welcome
    p
      | Welcome to the MHS Student Intranet. On this site you will find useful information to help you out at school. For example, using the toolbar above you can access some important websites quickly.
    p
      | Using the menu on the left you will find various information such as how to connect your device to the WiFi, subject information and other useful details about Mullumbimby High School.
    img.img-responsive(src="../img/content/drone.jpg")
